{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% trans "home" %}{% endblock page_title %}

{% block content %}
    <!-- Mobile Header -->
        <div class="mobile-header mobile-visible">
            <div class="mobile-logo-container">
                <div class="mobile-site-title">{% trans "Hossein hadi amani" %}</div>
            </div>

            <a class="menu-toggle mobile-visible">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- /Mobile Header -->
    	 <!-- Main Content -->
			<div id="main" class="site-main">
				<!-- Page changer wrapper -->
				<div class="pt-wrapper">
					<!-- Subpages -->
					<div class="subpages">

						<!-- Home Subpage -->
						<section class="pt-page" data-id="home">
							<div class="section-inner start-page-content">
								<div class="page-header">
									<div class="row">
										<div class="col-sm-3 col-md-4 col-lg-2">
											<div class="photo">
												<img src="{% static "images/hadi.png" %}" alt="">
											</div>
										</div>

										<div class="col-sm-8 col-md-8 col-lg-8">
											<div class="title-block">
												<h1>{% trans "Hossein hadi amani" %}</h1>
												<div class="owl-carousel text-rotation">                                    
													<div class="item">
														<div class="sp-subtitle">{% trans " Django developer  " %} </div>
													</div>
													<div class="item">
														<div class="sp-subtitle">{% trans "Web programmer" %}</div>
													</div>
												</div>
											</div>

											<div class="social-links">
												<a href="#"><i class="fa fa-telegram"></i></a>
												<a href="#"><i class="fa fa-instagram"></i></a>
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="page-content">
									<div class="row">

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="about-me">
												<div class="block-title">
													<h3>{% trans "about" %} <span>{% trans "ME" %}</span></h3>
												</div>
                                                <p>{% trans "my name is hossein I'm backend developer with Django " %}</p>
											</div>
											<div class="download-resume">
												<a href="{% url "pages:download" %}" download='rezomeh.pdf' class="btn btn-secondary">دریافت رزومه</a>
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<ul class="info-list">
												<li><span class="title">{% trans "date time birth" %}</span> <span class="value">1377</span></li>
												<li><span class="title">{% trans "Address" %}</span> <span class="value">{% trans "kish" %}</span></li>
												{% comment %} <li><span class="title">آدرس</span> <span class="value">خیابان نیایش، جنب پاساژ اطلس</span></li> {% endcomment %}
												<li><span class="title">{% trans "email" %}</span> <span class="value ltr_text">hossein.h.a770227@gmail.com</span></li>
												<li><span class="title">{% trans "phone number" %}</span> <span class="value ltr_text">09933779870</span></li>
												<li><span class="title">{% trans "Condition" %}</span> <span class="value available">{% trans "ready" %}</span></li>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</section>
						<!-- End of Home Subpage -->

						<!-- Resume Subpage -->
						<section class="pt-page" data-id="resume">
							<div class="section-inner custom-page-content">
								<div class="page-header color-1">
									<h2>{% trans "rezomeh" %}</h2>
								</div>
								<div class="page-content">

									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-6">
											<div class="block">
												<div class="block-title">
													<h3>{% trans "education" %}</h3>
												</div>

												<div class="timeline">
													{% for skill in skills %}
														<div class="timeline-item">
															<h4 class="item-title">{{skill.name}} </h4>
															<span class="item-small"> {{skill.course}} </span>
															<p class="item-description">{{skill.description}}</p>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-6">
											<div class="block">
												<div class="block-title">
													<h3> <span>{% trans "Skills" %}</span> {% trans "Programming" %}</h3>
												</div>
												<div class="skills-info" dir="rtl">
													<h4>python</h4>                               
													<h4>Django</h4>
													<h4>Git</h4>
													<h4>Docker</h4>
													<h4>html</h4>
												</div>
											</div>
										</div>

									</div>
									<!-- Download Resume Button -->
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div class="block">
												<div class="center download-resume">
													<a href="{% url "pages:download" %}" download='rezomeh.pdf' class="btn btn-secondary">دریافت رزومه</a>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Download Resume Button -->
								</div>
							</div>
						</section>
						<!-- End of Resume Subpage -->
						<!-- Portfolio Subpage -->
						{% comment %} <section class="pt-page" data-id="portfolio">
							<div class="section-inner custom-page-content">
								<div class="page-header color-1">
									<h2>{% trans "Portfolio" %}</h2>
								</div>
								<div class="page-content">

									<!-- Portfolio Content -->
									<div class="portfolio-content">
										<!-- Portfolio Grid -->
										<div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

											<!-- Portfolio Item 1 -->
											<figure class="item" data-groups='["all", "media"]'>
												<a class="ajax-page-load" href="ajax/portfolio-1.html">
													<img src="images/portfolio/1.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>رسانه</small>
														<i class="fa fa-file-text-o"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 1 -->

											<!-- Portfolio Item 2 -->
											<figure class="item" data-groups='["all", "video"]'>
												<a href="ajax/video-iframe.html" title="عنوان ویدئو" class="lightbox mfp-iframe">
													<img src="images/portfolio/2.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>ویدئو</small>
														<i class="fa fa-video-camera"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 2 -->

											<!-- Portfolio Item 3 -->
											<figure class="item" data-groups='["all","illustration"]'>
												<a href="images/portfolio/full/3.jpg" class="lightbox" title="عنوان تصویر">
													<img src="images/portfolio/3.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>تصویر</small>
														<i class="fa fa-image"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 3 -->

											<!-- Portfolio Item 4 -->
											<figure class="item" data-groups='["all", "media"]'>
												<a class="ajax-page-load" href="ajax/portfolio-2.html">
													<img src="images/portfolio/4.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>رسانه</small>
														<i class="fa fa-file-text-o"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 4 -->

											<!-- Portfolio Item 5 -->
											<figure class="item" data-groups='["all", "illustration"]'>
												<a href="images/portfolio/full/5.jpg" class="lightbox" title="عنوان تصویر">
													<img src="images/portfolio/5.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>تصویر</small>
														<i class="fa fa-image"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 5 -->

											<!-- Portfolio Item 6 -->
											<figure class="item" data-groups='["all", "media"]'>
												<a class="ajax-page-load" href="ajax/portfolio-3.html">
													<img src="images/portfolio/6.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>رسانه</small>
														<i class="fa fa-file-text-o"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 6 -->

											<!-- Portfolio Item 7 -->
											<figure class="item" data-groups='["all", "video"]'>
												<a href="ajax/video-iframe.html" title="عنوان ویدئو" class="lightbox mfp-iframe">
													<img src="images/portfolio/7.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>ویدئو</small>
														<i class="fa fa-video-camera"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 7 -->

											<!-- Portfolio Item 8 -->
											<figure class="item" data-groups='["all",  "media"]'>
												<a class="ajax-page-load" href="ajax/portfolio-4.html">
													<img src="images/portfolio/8.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>رسانه</small>
														<i class="fa fa-file-text-o"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 8 -->

											<!-- Portfolio Item 9 -->
											<figure class="item" data-groups='["all","illustration"]'>
												<a href="images/portfolio/full/9.jpg" class="lightbox" title="عنوان تصویر">
													<img src="images/portfolio/9.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>تصویر</small>
														<i class="fa fa-image"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 9 -->

											<!-- Portfolio Item 10 -->
											<figure class="item" data-groups='["all", "video"]'>
												<a href="ajax/video-iframe.html" title="عنوان ویدئو" class="lightbox mfp-iframe">
													<img src="images/portfolio/10.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>ویدئو</small>
														<i class="fa fa-video-camera"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 10 -->

											<!-- Portfolio Item 11 -->
											<figure class="item" data-groups='["all","illustration"]'>
												<a href="images/portfolio/full/11.jpg" class="lightbox" title="عنوان تصویر">
													<img src="images/portfolio/11.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>تصویر</small>
														<i class="fa fa-image"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 11 -->

											<!-- Portfolio Item 12 -->
											<figure class="item" data-groups='["all","media"]'>
												<a class="ajax-page-load" href="ajax/portfolio-5.html">
													<img src="images/portfolio/12.jpg" alt="">
													<div>
														<h5 class="name">نام پروژه</h5>
														<small>رسانه</small>
														<i class="fa fa-file-text-o"></i>
													</div>
												</a>
											</figure>
											<!-- /Portfolio Item 12 -->
										</div>
										<!-- /Portfolio Grid -->

									</div>
									<!-- /Portfolio Content -->
								</div>
							</div>
						</section> {% endcomment %}
						<!-- /Portfolio Subpage -->
						<!-- Contact Subpage -->
						<section class="pt-page" data-id="contact">
							<div class="section-inner custom-page-content">
								<div class="page-header color-1">
									<h2>{% trans "call" %}</h2>
								</div>
								<div class="page-content">

									<div class="row">
										<div class="col-sm-6 col-md-6">
											<div class="block-title">
												<h3>{% trans "with me " %} <span>{% trans "ralation" %}</span> {% trans "be" %}</h3>
											</div>
											<!-- Google Map -->
											<div id="map" class="map"></div>
											<!-- End of Google Map -->

											<div class="contact-info-block">
												<div class="ci-icon">
													<i class="fa fa-map-marker"></i>
												</div>
												<div class="ci-text">
													<p>{% trans "kish" %}</p>
												</div>
											</div>
											<div class="contact-info-block">
												<div class="ci-icon">
													<i class="fa fa-envelope"></i>
												</div>
												<div class="ci-text">
													<p><span class="ltr_text">hossein.h.a770227@gmail.com</span></p>
												</div>
											</div>
											<div class="contact-info-block">
												<div class="ci-icon">
													<i class="fa fa-phone"></i>
												</div>
												<div class="ci-text">
													<p><span class="ltr_text">09933779870</span></p>
												</div>
											</div>
										</div>

										<div class="col-sm-6 col-md-6">
											<div class="block-title">
												<h3><span>{% trans "call" %}</span> {% trans "with me" %} </h3>
											</div>
											<form method='POST'  action="{% url "pages:recive_message" %}">
												{% csrf_token %}
												{% if form.errors %}
													<div class='alert alert-danger'>
														{{form.errors}}
													</div>
												{% endif %}
												<div class="messages"></div>
													<div class="controls">
														<div class="form-group form-group-with-icon">
															<i class="fa fa-user"></i>
														<label>{% trans "full name" %}</label>
														<input id="form_name" type="text" name="full_name" class="form-control" placeholder required="required" data-error="{% trans "Name is required." %}">
														<div class="form-control-border"></div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group form-group-with-icon">
														<i class="fa fa-envelope"></i>
														<label> {% trans "email address" %}</label>
														<input id="form_email" type="email" name="email" class="form-control" placeholder required="required" dir="ltr" data-error="{% trans "email is required." %}">
														<div class="form-control-border"></div>
														<div class="help-block with-errors"></div>
													</div>
													
													<div class="form-group form-group-with-icon">
														<i class="fa fa-comment"></i>
														<label> {% trans "message for me" %} ...</label>
														<textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error="{% trans "please enter your message." %}"></textarea>
														<div class="form-control-border"></div>
														<div class="help-block with-errors"></div>
													</div>
													
													<!-- <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div> -->
													
													<input type="submit" class="button btn-send" value="{% trans "send message" %}">
												</div>
											
											</form>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- End Contact Subpage --> 

					</div>
				</div>
				<!-- /Page changer wrapper -->
			</div>
			<!-- /Main Content -->
		</div>
		<footer>
			<div class="copyrights">{% trans "message button" %}</div> 
		</footer>
{% endblock content %}